<!-- <a style="margin-top: 20px;" class="btn btn-primary" aria-current="page" [routerLink]="['/Adddepartamentos']" >Crear nuevo</a> -->
<button (click)="CreateMode()" class="btn btn-outline-primary m-1" type="" data-toggle="modal"
  [attr.data-target]="'#modalForm'">Crear nuevo</button>

<app-tabla [body]="departamentos" [headers]="[
'#',
'descripcion',
'Estado',
'Acciones'
]" (OnDelete)="delete($event)" (OnView)="getdepartamentoById($event,2)" (OnEdit)="getdepartamentoById($event,3)"></app-tabla>

<!-- Modal -->
<app-add-departamentos (onSave)="getdepartamentos()"></app-add-departamentos>
