<!-- <a style="margin-top: 20px;" class="btn btn-primary" aria-current="page" [routerLink]="['/AddActivos']" >Crear nuevo</a> -->
<button (click)="CreateMode()" class="btn btn-outline-primary m-1" type="" data-toggle="modal"
  [attr.data-target]="'#modalForm'">Crear nuevo</button>

<app-tabla [body]="activos" [headers]="[
'#',
'descripcion',
'departamentoId',
'tipoActivoId',
'fechaRegistro',
'valorCompra',
'depreciacionAcumulada',
'Acciones'
]" (OnDelete)="delete($event)" (OnView)="getActivoById($event,2)" (OnEdit)="getActivoById($event,3)"></app-tabla>

<!-- Modal -->
<app-add-activos (onSave)="getActivos()"></app-add-activos>
