<table  class="table  mt-5 col-10">
  <thead>
    <th *ngFor="let item of headers">{{item}}</th>
  </thead>
  <tbody class="table-group-divider">
    <tr class="table-active" *ngFor="let item of body">
      <td *ngFor="let item2 of names">
        {{item[item2]}}
      </td>     
      <td>
        <a (click)="borrar(item.activoFijoId)" type="button" data-dismiss="modal" class="btn btn-danger">Confirmar</a>
        <a routerLink="['']"></a>
        <a routerLink="['']"></a>
      </td>
    </tr>
  </tbody>
</table>